body {
  background-color: rgb(140, 186, 255);
}

.welcoming {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: dotted;
    color: brown;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 172%;
}

input {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 150px;

    height: 20px;

    border-radius: 15%;

    border: 2px solid black;

    background-color: white;

    font-size: 18px;

    color: black;
  }

  h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  input:focus {
    border-color: blue;
  }
  
  input:hover {
    background-color: lightgray;
  }
  

  input:active {

    background-color: darkgray;
  }
  

  .custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
  }

  .custom-select .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 20px;
    color: gray;
    overflow: hidden;
  }

  .custom-select .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
  }

  .custom-select .options li {
    padding: 5px;
    cursor: pointer;
  }

  .custom-select .options li:hover {
    background-color: lightgray;
  }

  .custom-select.open .options {
    display: block;
  }

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 136%;
}

.buttonsub {
  width: 120px;
  height: 40px;
  border-radius: 10%;
}

.mf {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.font-change-big {
  font-size: 480%;
}